<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="https://logging.apache.org/xml/ns
                                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Properties>
        <Property name="layout">%d [%t] %5p %c{1.} - %m%n</Property>
    </Properties>

    <appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${layout}"/>
        </Console>
        <File name="TEST_OUTPUT_LOG" fileName="logs/testoutput.log" append="false">
            <PatternLayout pattern="${layout}"/>
        </File>
    </appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="TEST_OUTPUT_LOG"/>
        </root>
    </loggers>

</Configuration>